version: 2.1
#orbs:
#  docker: circleci/docker@1.3.0
jobs:
  build-and-push:
    machine: true
    steps:
      - run: docker login -u $DOCKER_LOGIN -p $DOCKER_PASS
      - run: docker build -t $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME .
      - run: docker push $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME

workflows:
  build-push-deploy:
    jobs:
      - build-and-push
        #      - docker/publish:
        #          image: $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME
        #          tag: 'latest'

