version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-1604:202007-01
    steps:
      - checkout
      - run:
          name: Install Heroku CLI (If not installed)
          command: |
            if [[ $(command -v heroku) == "" ]]; then
              curl https://cli-assets.heroku.com/install-ubuntu.sh | sh
            else
              echo "Heroku is already installed. No operation was performed."
            fi
      #- run:
         #name: Install Docker client
         #command: sudo apt-get update && sudo apt-get install -y docker-cli
      - run: 
          name: Build Docker image
          command: docker build -t $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME .
      - run:
          name: Login to Docker Hub and push image
          command: |
            docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
            docker push $DOCKER_LOGIN/$CIRCLE_PROJECT_REPONAME
      - run:
          name: Login to Heroku registry, push new image and release
          command: |
            heroku container:login
            heroku container:push -a $HEROKU_APP_NAME web
            heroku container:release -a $HEROKU_APP_NAME web

